* {
  padding: 0;
  margin: 0;
}

h1 {
  position: absolute;
  font-size: 65px;
  top: 1rem;
  left: 1rem;
  color: #d7d7d7;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
  position: absolute;
  top: 3rem;
  left: 70%;
  z-index: 5;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}
